*.iml
.gradle
.kotlin
/local.properties
/.idea
/.claude
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/debug
/app/fastRelease
/app/release
/.tmp
/ffmpeg-decoder/build
/lyrico-audiotag/build
/lyrico-audiotag/.cxx
/ffmpeg-decoder/src/main/jni/ffmpeg/
*.jks
*.keystore
.workbuddy
